html,
body {
margin          : 0;
overflow        : hidden;
width           : 100%;
height          : 100%;
background-color: #d9d9d9;
}

canvas[resize] {
width           : 100%;
height          : 100%;
}

h1 {
font-family     : 'Bungee Inline', cursive;
}

hr {
margin-top      :4%;
display         :block;
border          :none;
color           :white;
height          :1px;
background      :black;
background      : -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#d9d9d9));
}

#text {
/* position text absolutely so it's displayed above the canvas*/
position        : absolute;
top             : 0;
left            : 0;
margin-bottom   : 5%;
/* center it on the screen */
width           : 100vw;
height          : 100vh;
/* display      : flex;
align-items     : center;
justify-content : center; */
font-size       : 100px;
/* make it ignore mouse events */
/* pointer-events: none; */
overflow        : auto;
color           : black;
}

#name {
font-family     : 'Bungee Shade', cursive;
/* color        : #1af0dc; */
font-size       : 70px;
margin-top      : 5%;
}
.small-text {
font-size       : 20px;
}

.jumbotron {
opacity         : 0.8;
}

.profile-image {
width           : 100%;
}

@media only screen and (max-width: 1199px) {
    #svg-links {
        display: none;
    }
    #name {
        font-size: 60px;
    }
}

@media only screen and (max-width: 600px) {
    #svg-sm-links {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #svg-sm-links {
        display: none;
    }
}